{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block head %}
  <link href="{% static 'css/home-dashboard.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1></h1>
  </div>
     <div class="row">
      <div class="col-md-12">
        Welcome to Barrows Project Management System
      </div>
  </div>
{% endblock main %}
