{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <link href="{% static 'css/projects.css' %}?v=1" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/projects.js' %}?v=1"></script>
{% endblock head %}

{% block main %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <button type="button" class="btn btn-primary pull-right btn-compose"  onclick="window.location='/projects/add-form/'">
          <span class="glyphicon glyphicon-share-alt"></span>{% trans 'Add New Project' %}
        </button>
        <h1>{% trans 'Projects' %}</h1>
      </div>

      <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Project Status</th>
        <th>Client</th>
        <th>Actions </th>
      </tr>
    </thead>
    <tbody>
    {% for project in projects %} 
      <tr id="id_{{project.id}}">
        <td>{{ forloop.counter }}</td>
        <td>{{project.project_name}}</td>
        <td>{{project.project_status}}</td>
        <td>{{project.client}}</td>
       <td><span><a href="/projects/edit-form/{{project.id}}/">Edit</a></span>&nbsp;<a href="#"  onclick="onclick_delete_anchor('{{project.id}}')">Delete</a></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
         
         <div class="row">
    <div class="col-md-12">
      {% include 'paginator.html' with paginator=projects %}
    </div>
  </div>
               </div>      
    </div>
  </div>



{% endblock main %}
 