body {
  background-color: #ffffff;
  font-family: Courier;
  color: red;
  font-size:20px;
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

