{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Project Management System{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootcamp.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootcamp.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <header>
                <p id="id_confirmation_p">
        </p>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">Project Management System</a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/clients/" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Clients">
                    <span class="glyphicon glyphicon-bell">Clients</span>
                  </a>
                </li>
                <li>
                  <a href="/projects/" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Projects">
                    <span class="glyphicon glyphicon-bell">Projects</span>
                  </a>
                </li>
                <li>
                  <a href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                    <span class="glyphicon glyphicon-bell"></span>
                  </a>
                </li>                
              </ul>              
              <ul class="nav navbar-nav navbar-right">
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
          {% block main %}
  
          {% endblock main %}
        </div>
      </main>      
    {% endblock body %}
  </body>
</html>
