{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/clients.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="/clients/">{% trans 'Clients' %}</a></li>
    <li class="active">{% trans 'Add Client' %}</li>
  </ol>
  <form  method="post" role="form" id="id_add_client_form">
    {% csrf_token %}          
    <label for="{{form.client_name.name}}" class="control-label">{{form.client_name.label}}</label>
    {{form.client_name}}
      {% if form.client_name.help_text %}
        <span class="help-block">{{ form.client_name.help_text }}</span>
      {% endif %}
        <div class="errorlist" id="id_client_name_errors">{{ form.client_name.errors }}</div>

    <label for="{{form.contact_name.name}}" class="control-label">{{form.contact_name.label}}</label>
    {{form.contact_name}}
      {% if form.contact_name.help_text %}
        <span class="help-block">{{ form.contact_name.help_text }}</span>
      {% endif %}
        <div class="errorlist" id="id_contact_name_errors">{{ form.contact_name.errors }}</div>
    <label for="{{form.contact_number.name}}" class="control-label">{{form.contact_number.label}}</label>
    {{form.contact_number}}
      {% if form.contact_number.help_text %}
        <span class="help-block">{{ form.contact_number.help_text }}</span>
      {% endif %}
        <div class="errorlist" id="id_contact_number_errors">{{ form.contact_number.errors }}</div>
    
    <div class="form-group">
      <button type="button" class="btn btn-primary publish">{% trans 'Save' %}</button>
    </div>
  </form>

{% endblock main %}
